/* Estilos generales */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;

}

header, nav, section, footer {
    padding: 20px;
}

/* Estilos específicos */
nav {
    background-color: rgb(214, 132, 16);
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    width: 100%;
}

nav img {
    height: 100px;
    margin-right: 10px;
}

nav h1 {
    color: #fff;
    margin: 0;
    font-size: 20px;
}

nav ul {
    list-style-type: none;
    margin: 10px;
    padding: 1px;
    text-align: center;
}

nav ul li {
    display: inline;
}

nav ul li a {
    display: inline-block;
    color: #fff;
    text-decoration: none;
    padding: 10px;
}

nav ul li a:hover {
    background-color: #602501;
}

#welcome-section {
    background-image: url('fotos/local.jpg');
    background-size: cover;
    background-position: center;
    padding: 250px 0;
    text-align: center;
    color: #f40404;

}

.welcome-container {
    max-width: 600px;
    margin: 0 auto;
}

.welcome-container h2 {
    font-size: 28px;
    margin-bottom: 20px;
}

.welcome-container p {
    font-size: 18px;
    margin-bottom: 30px;
}

.welcome-container button {
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

.welcome-container button:hover {
    background-color: #45a049;
}


/*semillas*/
section#Semillas {
    text-align: center;
}

section#Semillas .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

section#product {
    text-align: center;
}

section#product .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#checkout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #45a049;
}

/*liquidos*/
section#Liquidos {
    text-align: center;
}

section#Liquidos .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

section#product {
    text-align: center;
}

section#product .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#checkout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #45a049;
}

/*Envasados*/
section#envasados {
    text-align: center;
}

section#envasados .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

section#product {
    text-align: center;
}

section#product .product {
    display: inline-block;
    margin: 10px;
    padding: 10px;
    border: 1px solid #ccc;
    text-align: center;
}

#checkout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #45a049;
}



.btn-agregar {
    background-color: #4CAF50;
    color: white;
    border: none;
    padding: 5px 10px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    margin: 5px 2px;
    cursor: pointer;
    border-radius: 3px;
}

.btn-quitar {
    background-color: #f44336;
}

#carrito {
    margin-top: 30px;
    border-top: 2px solid #ccc;
    padding-top: 20px;
    padding: 20px;
    text-align: center;

}

#carrito h2 {
    text-align: center;
}

#lista-carrito {
    list-style: decimal-leading-zero;
    padding: 20px;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 10px;
    padding: 10px;
    border-radius: 5px;
}

#lista-carrito li {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin-bottom: 5px;

}

#lista-carrito li .btn-quitar {
    margin-left: 10px;
}

#total-carrito {
    font-weight: bold;
    text-align: right;
    margin-top: 10px;
}

#checkout-button {
    padding: 10px 20px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 40px;
    cursor: pointer;
}

#checkout-button:hover {
    background-color: #45a049;
}


/* Estilos específicos */
section#contact {
    padding: 20px;
}

section#contact h2 {
    text-align: center;
}

section#contact form {
    max-width: 400px;
    margin: 0 auto;
}

section#contact form div {
    margin-bottom: 15px;
}

section#contact form label {
    display: block;
    margin-bottom: 5px;
    font-weight: bold;
}

section#contact form input[type="text"],
section#contact form input[type="email"],
section#contact form textarea {
    width: 100%;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

section#contact form textarea {
    resize: vertical;
}

section#contact form button {
    display: block;
    width: 100%;
    padding: 10px;
    background-color: #4CAF50;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

section#contact form button:hover {
    background-color: #45a049;
}


footer {
    text-align: center;
    font-size: 12px;
    color: #777;
}